@import "../../styles/variables.scss";

.featured-slider {
  padding-bottom: 60px;
  .slick-prev,
  .slick-next {
    top: 40%;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 40px;
    color: $color-black;
  }
}

@media (min-width: 960px) {
  .featured-slider {
    padding-bottom: 50px;
    margin-top: 80px;
  }
}
