@import "../../styles/variables.scss";

.featured-card {
  padding: 10px;
}

.featured-poster {
  position: relative;
  margin-bottom: 0;
  display: block;
  text-decoration: none;
  overflow: hidden;
  &:hover {
    .poster-image {
      transform: scale(1.1);
    }
  }
}

.poster-image {
  width: 100%;
  @extend .transition;
}

.poster-category {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $secondary-color;
  color: $primary-color;
  text-transform: capitalize;
  font-size: 12px;
  margin: 0;
  padding: 5px;
}

.poster-title-container {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 10px;
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.poster-title {
  color: $color-white;
  margin: 0;
  font-size: 20px;
}

.card-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.info-price {
  background-color: $primary-color;
  color: $color-white;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
}

.info-stock {
  background-color: $color-primary-50;
  color: $color-white;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  margin: 0;
  &.alert {
    background-color: $secondary-color;
    color: $text-color;
  }
}
