@import "../../styles/variables.scss";

.featured-slider {
  padding-bottom: 60px;
  .slick-prev,
  .slick-next {
    top: 40%;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 40px;
    color: $color-black;
  }
}

.featured-card {
  padding: 10px;
  text-decoration: none;
  display: block;
}

.featured-image-container {
  position: relative;
  margin-bottom: 10px;
}

.card-image {
  width: 100%;
}

.card-price {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: $primary-color;
  color: $color-white;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}

.card-title-container {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 10px;
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.card-title {
  color: $color-white;
  margin: 0;
  font-size: 20px;
}

.card-description {
  color: $text-color;
  margin: 0;
  font-size: 14px;
  max-height: 96px;
  overflow: hidden;
}

.card-stock {
  background-color: $color-primary-50;
  color: $color-white;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  &.alert {
    background-color: $secondary-color;
    color: $text-color;
  }
}

@media (min-width: 960px) {
  .featured-slider {
    padding-bottom: 50px;
    margin-top: 80px;
  }
}
