@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "./variables.scss";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 67px;
  color: $text-color;
  background-color: #e7e7e7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed";
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

.content-container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

.aside-layout {
  display: flex;
  flex-flow: column wrap;
}

.t-align-center {
  text-align: center;
}

/* Slick Slider Custom Styles */

.slick-prev,
.slick-next {
  z-index: 9;
  width: 30px;
  height: 30px;
}

.slick-next {
  right: 10px;
}

.slick-prev {
  left: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  color: $secondary-color;
}

.slick-buttons-top-30 {
  .slick-prev,
  .slick-next {
    top: 30%;
  }
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  font-size: 16px;
  color: $secondary-color;
}

.slick-dots li.slick-active button:before {
  color: $secondary-color;
  opacity: 1;
}

/* Section Titles */

.section-title {
  text-align: center;
  margin: 30px 10px;
  h3 {
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
    position: relative;
    display: inline-block;
    margin: 0;
    padding-bottom: 10px;
    font-size: 30px;
    &:after {
      content: "";
      width: 70%;
      height: 1px;
      background-color: $primary-color;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
}

/* CTAs */

.cta {
  background-color: $color-white;
  border: 1px solid $primary-color;
  color: $primary-color;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  @extend .transition;
  &:hover {
    background-color: $primary-color;
    color: $color-white;
  }
  &:active {
    transform: scale(0.9);
  }
  &.cta-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $color-white;
    &:hover {
      background-color: $color-white;
      color: $primary-color;
    }
  }
  &.cta-secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $primary-color;
    &:hover {
      background-color: $color-white;
      border-color: $primary-color;
    }
  }
}

.price-sticker {
  background-color: $primary-color;
  color: $color-white;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 22px;
  font-family: "Roboto Condensed";
  display: inline-block;
  line-height: 1;
  min-width: 86px;
  text-align: center;
  sup {
    font-size: 14px;
  }
}

.image-gallery {
  border: 1px solid $color-primary-25;
  padding: 10px;
  margin-bottom: 10px;
}

/* Generate Margins */

@mixin generate($prefix, $property) {
  $sizes: [ 10, 20, 30, 40, 50 ];
  $spacing: 1px;

  @for $i from 1 through length($sizes) {
    $size: nth($sizes, $i);

    .#{$prefix}-#{$size} {
      #{$property}: $spacing * $size;
    }
  }
}

@include generate(mt, margin-top);
@include generate(mb, margin-bottom);

/* Desktop Breakpoint */

@media (min-width: 960px) {
  .slick-next {
    right: 25px;
  }

  .slick-prev {
    left: 25px;
  }

  .aside-layout {
    display: flex;
    flex-flow: row wrap;

    aside {
      width: 320px;
      padding-right: 10px;
      position: fixed;
    }

    section {
      width: 100%;
      padding-left: 320px;
    }
  }

  main {
    min-height: calc(100vh - 140px);
  }
}
