@import '../../styles/variables.scss';

.category-card {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  &:hover {
    .card-image {
      transform: scale(1.2);
    }
  }
}

.card-image {
  width: 100%;
  transition: all 150ms ease-in-out;
}

.card-description {
  background-color: $color-black-50;
  text-align: center;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}



