@import "../../styles/variables.scss";

.detail-title {
  color: $primary-color;
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 10px;
}

.detail-sku,
.detail-category {
  font-size: 12px;
  margin: 0;
}

.detail-sku {
  margin-bottom: 5px;
}

.detail-category {
  margin-bottom: 15px;
  span {
    text-transform: capitalize;
  }
}

.detail-tags {
  display: flex;
  font-size: 12px;
  line-height: 1;
  margin-top: 10px;
}

.tag {
  background-color: $secondary-color;
  display: inline-block;
  color: $primary-color;
  border-radius: 3px;
  padding: 5px;
  margin-right: 3px;
}

.detail-controls {
  display: flex;
  align-items: center;
  .item-counter {
    border: none;
    outline: none;
    margin: 0;
    text-align: center;
    background: none;
    width: 40px;
    color: $primary-color;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  .cart-cta {
    background-color: $secondary-color;
    color: $primary-color;
    margin-right: 10px;
    &:hover {
      background: $primary-color;
      color: $color-white;
    }
    &:active {
      background: $color-primary-50;
    }
  }
  .counter-cta {
    background-color: $primary-color;
    color: $color-white;
    box-shadow: inset 0px 0px 0px 1px $primary-color;
    &:hover {
      background: $color-white;
      color: $primary-color;
    }
    &:disabled {
      opacity: 0.5;
      cursor: default;
      &:hover {
        background-color: $primary-color;
        color: $color-white;
      }
    }
  }
  span {
    padding: 8px 0;
  }
}
